name: Build and Publish
on: [push]
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
    - uses: actions/checkout@v2
    - name: vite build
      run: npm run build
    - name: Build Vue
      run: |
        cd dist
        ln -s index.html 404.html
        git config --global user.email "boolioncube@gmail.com"
        git config --global user.name "boolionBot"
        git init
        git add -A
        git commit -m 'autoPublish'
        git push -f https://zosky:${{ secrets.GITHUB_TOKEN }}@github.com/zosky/my-beer-fridge.git master:gh-pages
      shell: bash